/* styles.css */
/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202124;
    color: #fff;
}

.container {
    width: 100%;
    max-width: none;
    margin: 50px auto;
    padding: 20px;
    background-color: #303136;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

h1, label {
    color: #fff;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    background-color: #424242;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

input[type="submit"] {
    background-color: #4caf50;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #4caf50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Dark table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #424242;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #303136;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #424242;
}
/* Dark table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #fff; /* Set text color for table content */
}

th, td {
    border: 1px solid #424242;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #303136;
    color: #fff; /* Set text color for table headers */
}

td {
    background-color: #424242; /* Set background color for table cells */
	 color: #fff; /* Set text color for table content */
}

tr:nth-child(even) {
    background-color: #424242;
}
.card {
    background-color: #282c34; /* Dark blue background */
    color: #ffffff; /* White text */
}

.card-title {
    color: #ffffff; /* White title text */
}

.card-text {
    color: #cccccc; /* Light gray text */
}

.btn-primary {
    background-color: #007bff; /* Blue button */
    color: #ffffff; /* White text */
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker blue on hover */
}