{% extends "base.html" %}

{% block content %}
    <h1>Customer List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Segment</th>
                <th>Location</th>
                <th>Gender</th>
                <th>Contact Person</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer[0] }}</td>
                <td>{{ customer[1] }}</td>
                <td>{{ customer[2] }}</td>
                <td>{{ customer[3] }}</td>
                <td>{{ customer[4] }}</td>
                <td>{{ customer[5] }}</td>
                <td>
                    <a href="{{ url_for('edit_customer', id=customer[0]) }}">Edit</a>
                    <a href="{{ url_for('delete_customer', customer_id=customer[0]) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}