{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Edit User</h1>
        <form action="" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" value="{{ user.username }}" required><br>
            <label for="password">password:</label><br>
            <input type="password" id="password" name="password" value="{{ user.passwprd }}" required><br>
            <label for="role">Role:</label><br>
            <select id="role" name="role" required>
                <option value="admin" {% if user.role == 'admin' %} selected {% endif %}>Admin</option>
                <option value="user" {% if user.role == 'user' %} selected {% endif %}>User</option>
            </select><br><br>
            <button type="submit">Save Changes</button>
        </form>
    </div>
{% endblock %}
